.Gallery{
	display: flex;
	flex-wrap: wrap;
	margin-top: 10%;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;		
    overflow: hidden;
}

.Gallery .single{
    width: 25%;
    float: left;
    height: auto;

}

.singleImg{
    display: block;
    margin: 0;
    width: 100%;
    filter: opacity(0.7) drop-shadow(0px 0px 1px #6800c8);
    cursor: pointer;
}

.singleImgIt{
    display: block;
    margin: 0;
    width: 100%;
    filter: opacity(0.8) drop-shadow(0px 0px 1px #0044ff);
    cursor: pointer;
}

.Gallery .single img:hover{
    filter: opacity(1) ;
}

@media (min-width: 1530px) 
{
    .Gallery .single{
        width: 25%;
    }
}

@media (max-width: 1529px) and (min-width: 1025px)
{
    .Gallery .single{
        width: 33.3%;
    }

    .GalleryItemBig .btnClose{
        top: 80px;
    }
    
}

@media (max-width: 1024px)
{
    .Gallery .single{
        width: 50%;
    } 
    .GalleryItemBig .btnClose{
        top: 20px;
    }
    
}

.GalleryItemBig{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 4;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    height: 100%;
    width: 100%;
}
.GalleryItemBigBox {
    height: 80%;
    margin: min(10vw, 10%);
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .GalleryItemBigBox .imgBorder {
    box-sizing: border-box;
    border: 5px solid white;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .GalleryItemBigBox .imgBorder img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    object-position: center;
    user-select: none;
  }
  
  .GalleryItemBigBox p {
    color: white;
    margin-top: 10px;
    font-size: 20px;
  }

  .GalleryItemBigBox a{
    color: white;
  }


.GalleryItemBigBox .btnClose, .GalleryItemBigBox .btnPrev, .GalleryItemBigBox .btnNext{
    position: fixed;
    z-index: 3;
    cursor: pointer;
    color: #ffffff;
    opacity: 0.5;
    font-size: 40px;
}

.btnClose:hover, .btnPrev:hover, .btnNext:hover{
    opacity: 1;
}
.GalleryItemBig .btnClose{
    top: 40px;
    right: 20px;
}

.GalleryItemBig .btnPrev{
    left: 20px;
}

.GalleryItemBig .btnNext{
    right: 20px;
}
