@font-face {
  font-family: 'CerebriSansPro';
  font-weight: 800;
  src: local('CerebriSansPro'), url(../src/fonts/Cerebri.Sans.Pro-www.Dfonts.org/Cerebri.Sans.Pro/CerebriSansPro-ExtraBold.ttf);
}

@font-face {
  font-family: 'CerebriSansPro';
  font-weight: 400;
  src: local('CerebriSansPro'), url(../src/fonts/Cerebri.Sans.Pro-www.Dfonts.org/Cerebri.Sans.Pro/CerebriSansPro-Regular.ttf);
}

@font-face {
  font-family: 'CerebriSansPro';
  font-weight: 600;
  src: local('CerebriSansPro'), url(../src/fonts/Cerebri.Sans.Pro-www.Dfonts.org/Cerebri.Sans.Pro/CerebriSansPro-SemiBold.ttf);
}

@font-face {
  font-family: 'CerebriSansPro';
  font-weight: 100;
  src: local('CerebriSansPro'), url(../src/fonts/Cerebri.Sans.Pro-www.Dfonts.org/Cerebri.Sans.Pro/CerebriSansPro-Thin.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'CerebriSansPro';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

